@{ Layout = "~/_SiteLayout.cshtml"; Page.Title = "User Page"; }

@section Scripts {
    <script src="~/Scripts/lib/jquery.min.js"></script>
    <script src="~/Scripts/lib/lodash.min.js"></script>

    @if (WebSecurity.IsAuthenticated)
    {
        <script src="~/Scripts/wishlist_user.js"></script>
    }
    else
    {
        <script src="~/Scripts/wishlist_guest.js"></script>
    }
}

@if (WebSecurity.IsAuthenticated)
{
    var db = Utils.get_db_con();

    var wl_id = Utils.get_usr_str(db, User.Identity.Name);

    var url = Utils.get_unique_link(wl_id);

    <h1>You are logged in</h1>
    <span>Your unique link is:</span>
    <span id="u_link">@url</span>
    //<button id="copy_link">Click to copy.</button>

    @WishlistHelpers.user_top_html();
    @WishlistHelpers.load_wishlist("Delete", wl_id, db, true);
}
else
{
    var wl_id = Request.QueryString["wl_id"];
    if (wl_id == null)
    {
        <h1>You need to be logged in to view your wishlist, or have a special link to view some elses.</h1>
    }
    else
    {
        var db = Utils.get_db_con();
        @WishlistHelpers.guest_top_html(Utils.get_usr_email(db, wl_id));

        @WishlistHelpers.load_wishlist("Pledge", wl_id, db, false);
    }
}